[name=main] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

[name=main] + img {
    opacity: 0.5;
  }

[name=main]:checked + img {
    outline: 5px solid rgba(39, 125, 255, 0.377);
    opacity: 1;
  }